

:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    width: 100%
  }

mat-toolbar {

  }

  mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;

}

mat-sidenav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 200px;
  align-items: flex-start;
}

.sidenav-links {
  color: #24292e;
  padding: 10px 20px;
  text-align: left;
  text-decoration: none;
  width: 100%;

}

main {
  padding: 10px;
}

.active {
  color: #1976d2;
}
