<mat-toolbar (click)="sidenav.toggle()" color="primary">
  <button
  mat-icon-button
  (click)="menuClick.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <h2>{{title}}</h2>
</mat-toolbar>

<mat-sidenav-container>
<!--  mode="push"-->
<!--  (click)="sidenav.close()"-->
  <mat-sidenav #sidenav opened mode="side">
    <mat-nav-list>
      <mat-list-item>
        <a mat-button class="sidenav-links"
           routerLink="/dashboard"
           routerLinkActive="active">
          Dashboard</a>
      </mat-list-item>
      <mat-list-item>
        <a mat-button class="sidenav-links"
           routerLink="/d3"
           routerLinkActive="active">
          D3</a>
      </mat-list-item>
      <mat-list-item>
        <a mat-button class="sidenav-links"
           routerLink="/angular"
           routerLinkActive="active">
          Angular</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>
</mat-sidenav-container>
